* {
  box-sizing: border-box;
}

:root {
  --primary-font: 'Poppins', 'Segoe UI', Candara,
    'Bitstream Vera Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Trebuchet MS', Verdana,
    'Verdana Ref', sans-serif;
  --label-font: 'Bebas Neue', Impact, Haettenschweiler,
    'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat',
    'Bitstream Vera Sans Bold', 'Arial Black', sans-serif;

  --header-color: maroon;
  --color-2: darkgrey;
  --offset-color: #993300;
  --color-4: darkgreen;
  --background-color: grey;
  --black-color: rgb(27, 42, 48);
  --caption-color: rgb(65, 99, 112);
  --white-color: white;

  --padding: 20px;
  @media (min-width: 750px) {
    --padding: 40px;
  }
}

body {
  font-family: var(--primary-font);
  background: var(--background-color);
  color: var(--black-color);
}

:global(.label-text) {
  font-family: var(--label-font);
  text-transform: uppercase;
  letter-spacing: 0.04em;
}